body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 15px;
}

.hlinks{
    padding: 5px;
}


#search {
    margin-top: 160px;
}

#logo {
    text-align: center;
}

#searchsec {
    margin-top: 20px;
    text-align: center;
}

#searchbar {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 30px;
    padding-left: 50px;
    outline: 0;
    width: 500px;
    border-radius: 25px;
    border:1px solid #e9dede;
}

#buttons{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.button{
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    background-color: #f4f4f4;
    color: #000000b6;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

#footer{
    background: rgb(236, 236, 234);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    border-top: 1px solid rgba(10, 10, 10, 0.1);
} 

a{
    text-decoration: none;
    font-size: 14px;
}

a:hover{
    text-decoration: underline;
}

#searchbar:hover{
    box-shadow: 0 0 0 1px rgb(207, 205, 205);
}